# Kicad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~

# FreeCAD
*.fcstd1

# GNAT/GPS
*.db
*.ali
*.o
*.a
*.xml
*.cgpr
*.bexch
*.lexch
*.a
*.ci
*.cswi
*~

#Software
software/obj
software/board_support/obj
software/board_support/vl53l0x/obj/

#GNATtest
software/tests_database/*.stderr
software/tests_database/*.stdout